<div class=" edit-user">
  <h2 class="form-style my-4"><strong>Edit <%= resource_name.to_s.humanize %></strong> </h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email, class: "edit-label" %><br />
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :placeholder =>"User Name" %>
      </div>  
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password, class: "edit-label"%> <i class="edit-label">(leave blank if you don't want to change it)</i><br />
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
        </div>
        <% if @minimum_password_length %>
          <%= f.password_field :password, autocomplete: "new-password", :class => "form-control", :placeholder => "Password (#{@minimum_password_length} characters minimum)"  %>
        <%else%>
          <%= f.password_field :password, autocomplete: "new-password", :class => "form-control", :placeholder => "Password"  %>
        <% end %>
      </div>  
    </div>
  

    <div class="form-group">
      <%= f.label :password_confirmation, class: "edit-label" %><br />
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
      </div>  
    </div>
  

    <div class="form-group">
      <%= f.label :current_password, class: "edit-label" %> <i class="edit-label">(we need your current password to confirm your changes)</i><br />
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "current-password",  :class => "form-control" %>
      </div>  
    </div>

    <div class="actions mb-5">
      <%= f.submit "Update", :class => "btn btn-info" %>
    </div>
  <% end %>

  <div class="border border-danger text-center my-5">
    <h3 class="mt-5 form-style ">Cancel my account</h3>

    <p class="edit-label">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger mb-5" %></p>
  
  </div>

  <%= link_to "Back", :back %>

</div>