<%= form_with(model: tweet, local: true, :class => "w-100 mb-3") do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container text-center">
    <div class=" form-group my-5">
      <h3 class="new-tweet-title d-inline"><strong>Hello! How is your animalistic day going?</strong></h3>
      <%= image_tag 'friends_2.png', class: "img-inicio" %>

     
        <div class="col-8 text-center py-4 m-auto">
          <%= form.text_area :content, :class => "form-control", :placeholder => "Write here your thoughts and comments..." %>
        </div>
        
  
        <div class="actions d-inline ">
          <%= form.submit "Write a Message!!", :class => "btn btn-info btn-form" %>
        </div>
      
    
    </div>
  </div>
  

 
<% end %>
