<div class="col-12  p-3 mt-2 bg-light single-tweet shadow-sm">

  

    <div class="row ml-2 mt-4">
        <!-- Avatar más reloj -->
            <div class="">
                <%= image_tag (tweet.user.avatar), :class => "avatar-in-tweet rounded mr-3"%>
                <div>
                    <%= link_to "<i class='fas fa-clock icon-color'></i>".html_safe + " #{time_ago_in_words(tweet.created_at)}" , tweet, class: "clock-style"  %>
                </div>
            
                <div class="retweet ">
                    <% if tweet.is_retweet? && !tweet.retweet_exist?.empty?  %>
                        <%= link_to '(This is a retweet)', tweet.tweet_ref %>
                    <% end %>
                </div>   
            </div>

        <!-- contenido del tweet -->
           <div class = " col-sm-6 col-lg-8 ml-5 more" >
                <h5><strong class="user-says"><%= tweet.user.username %> dice:</strong>
                <p class="content"><%= tweet.content.html_safe %> </p></h5>
            </div>

            <!-- iconos  -->
            <div class="float-right d-inline ml-4">
                <table class="table table-borderless mb-5">
                    <tr>
                        <td>
                            <div class="float-right ">
                                <%= link_to "<i class = 'fas fa-paw text-#{tweet.like_icon(current_user)}'></i>".html_safe, tweet_likes_path(tweet), method: :post %>
                                <%= tweet.likes.count %> 
                            </div>
                        </td>
                    </tr>
        
                    <tr>
                        <td>
                            <div class="float-right ">
                                <% if user_signed_in? && current_user != tweet.user%>
                                    <%= link_to "<i class='fas fa-retweet #{tweet.retweet_color}'></i>".html_safe, tweet_retweet_path(tweet), method: :post %>
                                    <%= tweet.count_rt %>
                                <% else %>
                                    <%= link_to "<i class='fas fa-retweet #{tweet.retweet_color}'></i>".html_safe %>
                                    <%= tweet.count_rt %>
                                <% end %>
                            </div>
                        </td>
                    </tr>
        
                    <tr>
                        <td>
                            <% if user_signed_in? && current_user != tweet.user%>
                            <div class="float-right">
                                <% if current_user.is_following?(tweet.user_id) %>
                                    <%= link_to '<i class="fas fa-user-times text-danger"></i>'.html_safe, users_follow_path(tweet.user_id), method: :post %>
                                <% else %>
                                    <%= link_to "<i class = 'fa fa-user-plus' aria-hidden = 'true'></i>".html_safe, users_follow_path(tweet.user_id), method: :post %>
                                <% end %>
                            </div>
                            <% end %>
                        </td>
                    </tr>
                </table>
        
            </div>  
    </div>
   
   
    
</div>