<nav class="navbar navbar-expand-lg navbar-dark bg-nav-color">
<!-- <nav class="nav nav-tabs navbar-dark bg-nav-color"> -->
  <div class="container nav-style">  

    <a class="navbar-brand" href="<%= root_path %>"><span class="h2"> <i class="fas fa-dog  mr-3 text-white"></i> Pet's Social</span></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse menu" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">
      
        <% if user_signed_in? %>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle mr-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag(current_user.avatar, class: 'rounded-circle avatar-nav mr-3') %>@<%= current_user.username %>
              </a>
              <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                <a href = "<%= edit_user_registration_path %>" class = "nav-link">Edit User</a>
                <% if current_user.admin %>
                  <%= link_to 'Admin', admin_root_path, class: "nav-link " %>
                <% end %>
                <div class="dropdown-divider"></div>
                  <%= link_to 'Sign Out', destroy_user_session_path, class: "nav-link" %>
              </div>   
            </li>

        <% else%>

            <li class="nav-item mr-3">
              <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
            </li>

        <% end %>
        
        <li class="nav-item mr-3">
          <%= link_to 'Explore',all_tweets_path, class: "nav-link" %>
        </li>
        
        <li class="nav-item">
          <a class = "nav-link" href="#exampleModalCenter" data-toggle="modal" data-target="#exampleModalCenter">Search</a>
        </li>
        
      </ul>
      
    </div>
    
  </div>
</nav>

<%= render 'shared/search', tweet: @tweet %>