<div class="row ">
    <div class="">
        <%= form_tag(root_path, method: :get) do %>
            <div class="form-group">
                <%= text_field_tag(:search, params[:search], :class => "w-50 float-right form-control d-inline") %>
                <%= link_to "Clean", root_path, :class => "btn btn-info float-right ml-2 mr-3" %>
                <%= submit_tag("Search", :class => "ml-2 btn btn-info float-right") %>
            </div>
        <% end %>
    </div>

 
        <% if user_signed_in?%>
            <!-- <%= render 'tweets/form', tweet: @tweet %> -->
            <%= render 'tweets/new_tweet', tweet: @tweet %>
        <%end%>
   

    <% @tweets.each do |tweet| %>
            <%= render 'tweets/single_tweet', tweet: tweet %>
    <% end %>

   
   
 
</div>

<div class=" my-4">
    <div class="d-flex justify-content-center">
        <%= paginate @tweets %>
    </div>
</div>
